@model QuizWebApp.Models.PlayerQuestionViewModel
<h3>Question</h3>

<div class="well well-small">
    <p>@Html.Raw(Model.Question.Body)</p>
</div>

<h3>Please select an answer from the following</h3>

<input type="hidden" id="CurrentAnswerId" name="CurrentAnswerId" value="@Model.Answer.AnswerId" />
<div class="well well-small options" id="questionoptions">
    @foreach (var opt in @Model.Question.GetOptions())
    {
        <label for="@("option" + opt.OptionNumber.ToString())">
            <input type="radio" name="answerOptions" value="@opt.OptionNumber" id="@("option" + opt.OptionNumber.ToString())" @((@opt.OptionNumber == @Model.Answer.ChosenOptionIndex) ? " checked" : "") />
            <span>@opt.Option</span>
        </label>
    }
</div>
<h4>Question weight</h4>
<div class="well well-small options" id="answerscores">
    @foreach (var val in @Model.PossibleValues)
    {
        <label for="@("answerscore" + val)">
            <input type="radio" name="answerscores" value="@val" id="@("answerscore" + val)" @((Model.Answer.AssignedValue == val) ? " checked" : "") />
            <span>@val</span>
        </label>
    }
</div>
<div class="well well-small highlight-info">
    <span class="glyphicon glyphicon-info-sign"></span> Click on the answer which you think is correct and wait for moderator to go to the next question ..
</div>
