@model QuizWebApp.Models.PlayerQuestionViewModel
@using QuizWebApp.Models
@{
    var correctOption = Model.Question.GetOptions()[Model.Question.IndexOfCorrectOption - 1];
}

<h3>Question</h3>

<div class="well well-small">
    <p>@Html.Raw(Model.Question.Body)</p>
</div>

<h3>Chosen answer:</h3>

<div class="well well-small">
    <div>
        @if (@Model.Answer.ChosenOptionIndex > 0)
        {
            var chosen = Model.Question.GetOptions()[Model.Answer.ChosenOptionIndex - 1];
            <div>@(chosen.Option)</div>
        }
        else
        {
            <p>No answer selected</p>
        }
    </div>

    @if (Model.Answer.Status == AnswerStateType.Correct)
    {
        <h3 class="correct">Correct! :)</h3>
    }
    else
    {
        <h3 class="incorrect">Incorrect :(</h3>

        <h4>The correct answer was:</h4>
        <div class="options">
            <div>@correctOption.Option</div>
        </div>
    }
</div>

<h3>Comment:</h3>

<div class="well well-small">
    @if (!string.IsNullOrWhiteSpace(Model.Question.Comment))
    {
        <p>@Html.Raw(Model.Question.Comment)</p>
    }
</div>
