@model QuizWebApp.Models.PlayerQuestionViewModel
<h3>Question</h3>

<div class="well well-small">
    <p>@Html.Raw(Model.Question.Body)</p>
</div>

<h3>Please select an answer from the following</h3>

<div class="well well-small options" id="questionoptions">
    <input type="hidden" id="CurrentAnswerId" value="@Model.Answer.AnswerId"/>
    @foreach (var opt in @Model.Question.GetOptions())
    {
        var isChecked = (@opt.OptionNumber == @Model.Answer.ChosenOptionIndex ? "checked" : "");
        <label for="@("option" + opt.OptionNumber.ToString())">
            <input type="radio" name="option" value="@opt.OptionNumber" id="@("option" + opt.OptionNumber.ToString())" @isChecked />
            <span>@opt.Option</span>
        </label>
    }
</div>
<div class="well well-small highlight-info">
    <span class="glyphicon glyphicon-info-sign"></span> Click on the answer which you think is correct and wait for moderator to go to the next question ..
</div>
