@model QuizWebApp.Models.Question
@using QuizWebApp.Helpers

<h3>
    @Html.DisplayNameFor(model => model.Body)
</h3>
<div class="well well-small">
    <p>@Html.Raw(Model.Body)</p>
</div>

<h3>Possible answers:</h3>
<div class="well well-small">
    <ol>
        @foreach (var option in Model.GetOptions())
        {
            <li>
                <div>@option.Option</div>
            </li>
        }
    </ol>
</div>

<h3>
    @Html.DisplayNameFor(model => model.IndexOfCorrectOption)
</h3>
<div class="well well-small">
    @Html.DisplayFor(model => model.IndexOfCorrectOption)
</div>

<h3>
    @Html.DisplayNameFor(model => model.Comment)
</h3>
<div class="well well-small">
    <p>@Html.Raw(Model.Comment)</p>
</div>

<h3>
    @Html.DisplayNameFor(model => model.CreateAt)
</h3>
<div class="well well-small">
    @Model.CreateAt.ToLocalDateTimeString()
</div>
