@model QuizWebApp.Models.QuestionRoundViewModel
@{
    ViewBag.Title = "Questions";
}
<h4>@Html.ActionLink("Rounds overview","Index",controllerName:"Round")</h4>
<hgroup>
    <h2>@Model.Round.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<div style="margin-bottom:1em;">
    <a href="@Url.Action("Create", new { roundId = Model.Round.RoundId})" class="btn btn-primary"><i class="icon-plus icon-white"></i> Add a new question</a>
</div>

<div>
    @foreach (var question in Model.Questions)
    {
        <h3>Q @question.SortOrder</h3>
        <div>
            <div class="well well-small">
                <p>@Html.Raw(question.Body)</p>
            </div>
            <div>
                <a href="@Url.Action("Detail", new { id = question.QuestionId })" class="btn"><i class="icon-circle-arrow-right"></i> Detail</a>
                <a href="@Url.Action("Edit", new { id = question.QuestionId })" class="btn"><i class="icon-edit"></i> Edit</a>
                <a href="@Url.Action("Delete", new { id = question.QuestionId })" class="btn"><i class="icon-trash"></i> Delete</a>
            </div>
        </div>
    }
</div>
